<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Accounts</title>
</head>

<body>

<div class="jumbotron">
	<div class="container">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-item nav-link " href="#" th:href="@{/students/list}">Students</a>
			<a class="nav-item nav-link active" href="#" th:href="@{/accounts/list}">Accounts</a>
			<a class="nav-item nav-link" href="#" th:href="@{/books/list}">Books</a>
		</nav>
		<hr>

		<!--	Add a buttton-->
		<a th:href="@{/accounts/showFormForAdd}"
		   class="btn btn-primary btn-sm mb-3">
			Add Account
		</a>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Password</th>
				<th>Action</th>



			</tr>
			</thead>

			<tbody>
			<tr th:each="account : ${accounts}">
				<td th:text="${account.accountNumber}" />
				<td th:text="${account.password}" />

				<!--				add update button/link-->
				<td>
					<a th:href="@{/accounts/showFormForUpdate(accountId =${account.accountNumber})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					<a href="#" th:href="@{/accounts/delete(accountId =${account.accountNumber})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to remove this student ?')))return false">
						Delete
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	
</div>
	
</body>
</html>



