<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Books</title>
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-2 " style="background-color:yellow;" th:each="book : ${books}">
            <!--<h2 th:text="${book.title}"></h2>-->
            <!--<h3 th:text="${book.author}"></h3>-->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." th:src="@{/${book.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}"></h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    <a href="#" class="btn btn-primary">Request</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div class="container">-->

    <!---->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr th:each="book : ${books}">-->

            <!--<td th:text="${book.isbn}" />-->
            <!--<td th:text="${book.title}" />-->
            <!--<td th:text="${book.author}" />-->
            <!--<td th:text="${book.image}" />-->
            <!--&lt;!&ndash;				add update button/link&ndash;&gt;-->
            <!--<td>-->
                <!--<a th:href="@{/books/showFormForUpdate(bookId =${book.bookId-->
					<!--})}"-->
                   <!--class="btn btn-info btn-sm">-->
                    <!--Update-->
                <!--</a>-->
                <!--<a th:href="@{/books/delete(bookId =${book.bookId})}"-->
                   <!--class="btn btn-danger btn-sm"-->
                   <!--onclick="if (!(confirm('Are you sure you want to remove this book ?')))return false">-->
                    <!--Delete-->
                <!--</a>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

<!--</div>-->

</body>
</html>



